<h2 mat-dialog-title *ngIf="isUpdateMode">Update {{ form.get('name').value }}</h2>
<h2 mat-dialog-title *ngIf="!isUpdateMode">Create new beer</h2>

<nb-card>
  <form novalidate [formGroup]="form">

    <p *ngIf="isUpdateMode">
      <span style="width:100%">ID (disabled)</span><br/>
      <span style="width:100%">{{model.id}}</span>
    </p>

    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <nb-card-body class="full-width">
            <input nbInput placeholder="Name" formControlName="name" minlength="2" required name="name" [class.mgb15]="form.get('name').dirty && form.get('name').invalid"/>
            <mat-error *ngIf="form.get('name').dirty && form.get('name').hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('name').dirty && form.get('name').hasError('minlength')">
              Name is <strong>2 chars min</strong>
            </mat-error>

            <nb-select placeholder="Country" formControlName="country" [(selected)]="model.country">
              <nb-option value=""> </nb-option>
              <nb-option value="Germany">Germany</nb-option>
              <nb-option value="Ireland">Ireland</nb-option>
              <nb-option value="Belgium">Belgium</nb-option>
              <nb-option value="Japan">Japan</nb-option>
            </nb-select>

            <input nbInput
          </nb-card-body>
        </td>
      </tr>
    </table>

  </form>
</nb-card>


<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
