<section [ngSwitch]="view">

  <div align="center">
  <section *ngSwitchCase="'oneBeer'" >
    <button nbButton class="mybutton button2">
      <i class="material-icons" (click)="switchView()">All beers</i>
    </button>  </section>

  <section *ngSwitchCase="'beerList'" >
    <button nbButton class="mybutton button2" >
      <i class="material-icons" (click)="switchView()">One Beer</i>
    </button>  </section>
  </div>

</section>

<section [ngSwitch]="view">
  <section *ngSwitchCase="'oneBeer'">
    <app-beer></app-beer>
  </section>
  <section *ngSwitchCase="'beerList'">
    <app-drinks></app-drinks>
  </section>
</section>
